.header {
	width: 100%;
}

.header__container {
	display: flex;
	justify-content: space-between;
	min-height: 101px;
	align-items: center;
}

.header__logo {
	margin-left: 9px;
}

.header__menu {
}

.menu {
}

.menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0;
}

.menu__item {
}

.menu__item:nth-child(1) {
	margin: 0 42px 0 104px;
}

.menu__item:nth-child(2) {
	margin: 0 36px 0 0px;
}

.menu__link img{
	vertical-align: middle;
	margin-left: -1px;
}

.menu__item:nth-child(3) {
	margin: 0 42px 0 0px;
}

.menu__link {
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	color: inherit;
		@media (any-hover: hover) {
			&:hover{
				color: #ff4d00;
			}
		}
}

.header__actions {
	display: flex;
	gap: 2px;
}

.header__button {
}

.button {
	width: 120px;
	height: 49px;
	flex-shrink: 0;
	border-radius: 8px;
	background: #FF6E30;
	color: #FDF5FF;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 28px;
	transition: all 0.3s ease 0s;
	border: 1px solid rgba(0, 0, 0, 0);

		@media (any-hover: hover) {
			&:hover{
				background-color: #ff4d00;
				color: #1E252B;
			}
		}

		&.button_border{
			background-color: transparent;
				@media (any-hover: hover) {
					&:hover{
						border: 1px solid #ff4d00;
						color: #ff4d00;
					}
				}
		}
}

.button_border {
}

